---
import CopyEmail from "../components/CopyEmail";
---

<section class="text-white max-w-3xl mx-auto my-10">
  <h2 class="text-xl font-bold flex items-center gap-2 mb-2">
    Email
    <svg class="w-5 h-5 text-gray-300" fill="currentColor" viewBox="0 0 24 24">
      <path d="M20 4H4C2.897 4 2 4.897 2 6v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2Zm0 2v.511l-8 5.333-8-5.333V6h16ZM4 18V8.489l7.386 4.923a1 1 0 0 0 1.228 0L20 8.489V18H4Z"/>
    </svg>
  </h2>

  <CopyEmail client:load />
</section>
